<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.design.control_automation.mapper.video.VideoMapper">
  <select id="findById" resultType="DetailVideo">
    SELECT v.id, v.video_url, c.camera_name, c.lat, c.lon, d.detected_object_id, o.uuid, e.code_name, o.crop_img
    FROM video v
    INNER JOIN public.detection d on v.id = d.video_id
    INNER JOIN public.camera_info c on c.camera_id = v.camera_id
    INNER JOIN public.detected_object o on o.id = d.detected_object_id
    INNER JOIN public.event_codes e on e.code_id = o.code_id
    WHERE v.id = #{id}
  </select>

  <select id="findByMobileDetectionId" resultType="SimpleVideoWithMobileObject">
    SELECT v.video_url, o.uuid, o.alias, o.crop_img, d.appeared_time, d.exit_time, e.code_name
    FROM video v
    INNER JOIN public.detection d on v.id = d.video_id
    INNER JOIN public.detected_object o on o.id = d.detected_object_id
    INNER JOIN public.event_codes e on e.code_id = o.code_id
    WHERE d.id = #{mobileDetectionId}
    LIMIT 1
  </select>

  <select id="findByEventId" resultType="SimpleVideoWithEvent">
    SELECT v.video_url, ei.event_uuid, ei.start_frame_at, ei.end_frame_at, ec.code_name, er.risk_level
    FROM video v
    INNER JOIN public.event_info ei on v.event_id = ei.event_id
    INNER JOIN public.event_codes ec on ei.code_id = ec.code_id
    INNER JOIN public.event_risks er on ec.risk_id = er.risk_id
    WHERE ei.event_id = #{eventId}
    LIMIT 1
  </select>
</mapper>
