<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.design.control_automation.mapper.detectedObject.DetectedObjectMapper">
  <select id="findById" resultType="DetectedObjectMobile">
    SELECT d.id, d.uuid, e.code_name, d.crop_img_url, d.alias
    FROM detected_object d
    INNER JOIN event_codes e ON e.code_id = d.code_id
    WHERE d.id = #{mobileObjectId}
  </select>

  <select id="findMobileObjectCountByFilterAndIds" resultType="Long">
    SELECT count(d.id)
    FROM detected_object d
    INNER JOIN event_codes e ON e.code_id = d.code_id
    <where>
      <if test="categoryName != null">
        AND e.code_name LIKE concat('%', #{categoryName}, '%')
      </if>
      <if test="alias != null">
        AND d.alias LIKE concat('%', #{alias}, '%')
      </if>
    </where>
  </select>

  <select id="findMobileObjectsByFilterAndIds" resultType="DetectedObjectMobile">
    SELECT d.id, d.uuid, e.code_name, d.crop_img_url, d.alias
    FROM detected_object d
    INNER JOIN event_codes e ON e.code_id = d.code_id
    <where>
      <if test="categoryName != null">
        AND e.code_name LIKE concat('%', #{categoryName}, '%')
      </if>
      <if test="alias != null">
        AND d.alias LIKE concat('%', #{alias}, '%')
      </if>
    </where>
    LIMIT #{pageSize}
    OFFSET #{offset}
  </select>

  <update id="aliasDetectedObject">
    UPDATE detected_object
    SET alias = #{alias}
    WHERE id = #{detectedObjectId}
  </update>
</mapper>
