<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.design.control_automation.mapper.event.EventMapper">
  <select id="getEventCountByFilter" resultType="Long">
    SELECT count(*)
    FROM event_info ei
    INNER JOIN public.video v on ei.event_id = v.event_id
    INNER JOIN public.event_codes ec on ec.code_id = ei.code_id
    <where>
      <if test="eventCodeName != null">
        AND ec.code_name LIKE concat('%', #{eventCodeName}, '%')
      </if>
      <if test="startTime != null and endTime != null">
        AND (
          ei.start_frame_at BETWEEN #{startTime} AND #{endTime}
          OR ei.end_frame_at BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
  </select>

  <select id="getEventsByFilter" resultType="EventInfo">
    SELECT v.id, v.thumbnail_url, ei.event_id, ei.event_uuid, ec.code_name, ei.start_frame_at, ei.end_frame_at
    FROM event_info ei
    INNER JOIN public.video v on ei.event_id = v.event_id
    INNER JOIN public.event_codes ec on ec.code_id = ei.code_id
    <where>
      <if test="eventCodeName != null">
        AND ec.code_name LIKE concat('%', #{eventCodeName}, '%')
      </if>
      <if test="startTime != null and endTime != null">
        AND (
            ei.start_frame_at BETWEEN #{startTime} AND #{endTime}
            OR ei.end_frame_at BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
    ORDER BY ei.start_frame_at
    LIMIT #{pageSize}
    OFFSET #{offset}
  </select>

  <select id="getAllEventCodes" resultType="EventCode">
    SELECT ec.code_id, ec.code_name
    FROM event_codes ec
  </select>
</mapper>
