<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
    <typeAlias alias="CameraPosition" type="capstone.design.control_automation.camera.repository.dto.CameraQueryResult$Position"/>
    <typeAlias alias="CameraInfo" type="capstone.design.control_automation.camera.repository.dto.CameraQueryResult$Info"/>
    <typeAlias alias="DetectionTrack" type="capstone.design.control_automation.detection.repository.dto.DetectionQueryResult$Track"/>
    <typeAlias alias="DetectionPosition" type="capstone.design.control_automation.detection.repository.dto.DetectionQueryResult$Position"/>
    <typeAlias alias="DetectedObjectMobile" type="capstone.design.control_automation.detected_object.repository.dto.DetectedObjectQueryResult$MobileObject"/>
    <typeAlias alias="SimpleVideoWithEvent" type="capstone.design.control_automation.video.repository.dto.VideoQueryResult$SimpleWithEvent"/>
    <typeAlias alias="SimpleVideoWithMobileObject" type="capstone.design.control_automation.video.repository.dto.VideoQueryResult$SimpleWithMobileObject"/>
    <typeAlias alias="DetailVideo" type="capstone.design.control_automation.video.repository.dto.VideoQueryResult$Detail"/>
    <typeAlias alias="EventInfo" type="capstone.design.control_automation.event.repository.dto.EventQueryResult$Info"/>
    <typeAlias alias="EventCode" type="capstone.design.control_automation.event.repository.dto.EventQueryResult$Code"/>
  </typeAliases>
</configuration>
