<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/fragments/header.css">
</head>
<body>
<header>
  <style>
    :root {
      --header-height: 60px; /* 기본값 */
    }
  </style>
  <nav>
    <ul>
      <li><a href="/home">홈</a></li>
      <li><a href="/videos">비디오</a></li>
      <li><a href="/reports">보고서</a></li>
      <li><a href="/setting">설정</a></li>
    </ul>
  </nav>
  <script>
    window.onload = function() {
      const headerHeight = document.querySelector('header').offsetHeight;
      document.documentElement.style.setProperty('--header-height', `${headerHeight}px`);
    };
  </script>
</header>
</body>
</html>
