<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_title(~{::title}, ~{::link})">
  <title>이벤트</title>
  <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/event/events.css}">
</head>
<body>
<div th:replace="~{fragments/header.html :: common_header}"></div>

<main>
  <button id="openModalBtn">이벤트 추가</button>

  <table class="event-list">
    <thead>
    <tr>
      <th>상태</th>
      <th>키워드</th>
      <th>변경</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf 반복문을 사용하여 CameraResponse 목록을 테이블에 출력 -->
    <tr th:each="event : ${events}">
      <td th:text="${event.status}"></td>
      <td th:text="${event.keyword}"></td>
      <td>
        <form th:action="@{/api/v1/event/delete}" method="post" style="display:inline;">
          <input type="hidden" name="id" th:value="${event.id}"/>
          <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</main>
<!-- 모달 구조 -->
<div id="cameraModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModalBtn">&times;</span>
    <h3>카메라 정보 추가</h3>
    <form th:action="@{/api/v1/event}" method="post">
      <label>상태: <input type="text" name="status" required></label><br>
      <label>키워드: <input type="text" name="keyword" required></label><br>
      <button type="submit">저장</button>
    </form>
  </div>
</div>

<script>
  const modal = document.getElementById("cameraModal");
  const openBtn = document.getElementById("openModalBtn");
  const closeBtn = document.getElementById("closeModalBtn");

  openBtn.onclick = () => modal.style.display = "block";
  closeBtn.onclick = () => modal.style.display = "none";
  window.onclick = (event) => {
    if (event.target === modal) modal.style.display = "none";
  };
</script>
</body>
</html>
