<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_title(~{::title}, ~{::link}, ~{::scripts})">
    <title>관제 지도</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/container.css}">
    <link rel="stylesheet" th:href="@{/css/map/map.css}">
    <th:block th:fragment="scripts">
        <script src="/js/map.js"></script>
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header.html :: common_header}"></div>

<div class="container">
    <div class="duration-header">
        <input type="datetime-local" class="datetime-input" value="2025-07-02T00:00">
        <i class="fa-solid fa-minus"></i>
        <input type="datetime-local" class="datetime-input" value="2025-07-02T23:59">
    </div>
    <div id="map"></div>
    <div class="info-bar">
        <div id="object-info-content" class="info-content">
        </div>
        <div id="event-info-content" class="info-content" style="display: none;">
        </div>
    </div>
    <div class="map-sidebar">
        <div class="map-sidebar-menu">
            <div class="map-sidebar-menu-option" th:classappend="selected" data-target="object-content">객체</div>
            <div class="map-sidebar-menu-option" data-target="event-content">이벤트</div>
        </div>
        <div class="map-sidebar-contents">
            <div id="object-content" class="tab-content">
                <div class="content-header">
                    <form class="content-header-form">
<!--                        th:action 추가 필요-->
                        <label>
                            <select class="content-header-select">

                            </select>
                        </label>
                        <label>
                            <input class="content-header-input" placeholder="객체 고유 ID 입력">
                        </label>
                        <label>
                            <input class="content-header-input" placeholder="자연어 질의">
                        </label>
                        <button type="submit" class="content-header-btn">검색</button>
                    </form>
                </div>
                <div class="content-body">
                </div>
            </div>
            <div id="event-content" class="tab-content" style="display: none;">
                <div class="content-header">
                    <form class="content-header-form">
                        <!--                        th:action 추가 필요-->
                        <label>
                            <select class="content-header-select">

                            </select>
                        </label>
                        <label>
                            <input class="content-header-input" placeholder="이벤트 고유 ID 입력">
                        </label>
                        <label>
                            <input class="content-header-input" placeholder="자연어 질의">
                        </label>
                        <button type="submit" class="content-header-btn">검색</button>
                    </form>
                </div>
                <div class="content-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d407cd8f808bda615f0a6567dac0ba8f&libraries="></script>
</body>
</html>
