<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.design.control_automation.mapper.camera.CameraMapper">
  <select id="findAllByFilterCondition" resultType="CameraPosition">
    SELECT c.id, c.latitude, c.longitude
    FROM camera c
    <where>
      <if test="topLeftLatitude != null
          and topLeftLongitude != null
          and bottomRightLatitude != null
          and bottomRightLongitude != null">
        c.latitude BETWEEN #{bottomRightLatitude} AND #{topLeftLatitude}
        AND c.longitude BETWEEN #{topLeftLongitude} AND #{bottomRightLatitude}
      </if>
    </where>
  </select>

  <select id="findWithVideosById" resultType="CameraInfo">
    SELECT DISTINCT c.id, c.scenery, c.latitude, c.longitude, v.id, v.video_url, v.start_time, v.end_time
    FROM camera c
    LEFT JOIN public.detection d on c.id = d.camera_id
    LEFT JOIN public.video v on d.video_id = v.id
    WHERE c.id = #{cameraId}
  </select>
</mapper>
