<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.design.control_automation.mapper.detection.DetectionMapper">
  <select id="getTrackCountOfMobileObject" resultType="Long">
    SELECT count(id)
    FROM detection as d
    <where>
      <if test="mobileObjectId != null">
        d.detected_object_id = #{mobileObjectId}
      </if>
      <if test="startTime != null and endTime != null">
        AND (
        d.appeared_time BETWEEN #{startTime} AND #{endTime}
        OR d.exit_time BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
  </select>

  <select id="getTracksOfMobileObject" resultType="DetectionTrack">
    SELECT d.id, c.camera_name , d.crop_img, d.appeared_time, d.exit_time
    FROM detection d
    INNER JOIN video v on d.video_id = v.id
    INNER JOIN camera_info c on v.camera_id = c.camera_id
     <where>
      <if test="mobileObjectId != null">
        d.detected_object_id = #{mobileObjectId}
      </if>
      <if test="startTime != null and endTime != null">
        AND (
        d.appeared_time BETWEEN #{startTime} AND #{endTime}
        OR d.exit_time BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
    ORDER BY d.appeared_time ASC
    <if test="pageSize != null">
      LIMIT #{pageSize}
    </if>
    <if test="offset != null">
      OFFSET #{offset}
    </if>
  </select>

  <select id="getPositionsOfMobileObject" resultType="DetectionPosition">
    SELECT d.id, c.lat, c.lon
    FROM detection d
    INNER JOIN video v on v.id = d.video_id
    INNER JOIN camera_info c on c.camera_id = v.camera_id
    <where>
      <if test="mobileObjectId != null">
        d.detected_object_id = #{mobileObjectId}
      </if>
      <if test="startTime != null and endTime != null">
        AND (
        d.appeared_time BETWEEN #{startTime} AND #{endTime}
        OR d.exit_time BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
    ORDER BY d.appeared_time ASC
    <if test="count != null">
      LIMIT #{count}
    </if>
  </select>

</mapper>
