<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.design.control_automation.mapper.detection.DetectionMapper">
  <select id="getTrackCountOfDetectedObject" resultType="Long">
    SELECT count(id)
    FROM detection as d
    <where>
      <if test="detectedObjectId != null">
        d.detected_object_id = #{detectedObjectId}
      </if>
      <if test="startTime != null and endTime != null">
        AND (
        d.appeared_time BETWEEN #{startTime} AND #{endTime}
        OR d.discovered_time BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
  </select>

  <select id="getTracksOfDetectedObject" resultType="DetectionTrack">
    SELECT v.id, d.thumbnail_url, v.summary, d.appeared_time, d.discovered_time
    FROM detection d
    INNER JOIN video v on d.video_id = v.id
    <where>
      <if test="detectedObjectId != null">
        d.detected_object_id = #{detectedObjectId}
      </if>
      <if test="startTime != null and endTime != null">
        AND (
        d.appeared_time BETWEEN #{startTime} AND #{endTime}
        OR d.discovered_time BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
    ORDER BY d.appeared_time ASC
    LIMIT #{pageSize}
    OFFSET #{offset}
  </select>

  <select id="getPositionsOfDetectedObject" resultType="DetectionPosition">
    SELECT v.id, c.latitude, c.longitude
    FROM detection d
    INNER JOIN camera c on c.id = d.camera_id
    INNER JOIN video v on v.id = d.video_id
    <where>
      <if test="detectedObjectId != null">
        d.detected_object_id = #{detectedObjectId}
      </if>
      <if test="startTime != null and endTime != null">
        AND (
        d.appeared_time BETWEEN #{startTime} AND #{endTime}
        OR d.discovered_time BETWEEN #{startTime} AND #{endTime}
        )
      </if>
    </where>
    ORDER BY d.appeared_time ASC
  </select>
</mapper>
